body {
    background-color: white;
    font-family: Arial, sans-serif;
}
h1 {
    color: lightskyblue;
}
p {
    color: darkblue;
}
ul {
    list-style-type: square;
}
img {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        text-align: center;
    }

    p {
        font-size: 14px; 
        padding: 10px;
    }

    ul {
        padding-left: 20px;
    }

    img {
        width: 100%;
        height: auto;
    }
}